[Unit]
Description=HortBot

[Service]
Type=notify
WorkingDirectory=/home/username/HortBot
ExecStart=/home/username/HortBot/HortBot

[Install]
WantedBy=multi-user.target